<h1>Profile</h1>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<%# Show associated model data here, e.g., %>
<%# <h2>Your Tasks</h2> %>
<%# @user.tasks.each do |task| %>
<%#   <div><%= task.title %></div> %>
<%# end %>

<%= link_to "Edit Profile", edit_user_path(@user) %> |
<%= link_to "Delete Account", user_path(@user), method: :delete, data: { confirm: "Are you sure?" } %>