<h1>Profile</h1>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<h2>Your Movies</h2>
<ul>
  <% @user.movies.each do |movie| %>
    <li>
      <%= link_to movie.title, movie_path(movie) %>
    </li>
  <% end %>
</ul>

<%= link_to "Edit Profile", edit_user_path(@user) %> |
<%= link_to "Delete Account", user_path(@user), method: :delete, data: { confirm: "Are you sure?" } %>